<div class="quickaddForm">
  <label for="name">Name</label><input type="text" id="name" class="formFields" required >
  <label for="phone">Phone</label><input type="tel" id="phone" class="formFields" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" required data-value-missing="This field is required!" >
  <label for="address">Address</label><textarea name="address" id="address" cols="30" rows="10" class="formFields" required data-value-missing="This field is required!"></textarea>
  <label for="email">E-mail</label><input type="email" id="email" class="formFields" placeholder="example@gmail.com" required data-value-missing="This field is required!">
  <br><br>
  <button id="Add">Add Now</button><button id="Cancel">Cancel</button>
</div>

